* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  font-family: Arial, sans-serif;
}

.globalsCard {
  height: 375px;
  width: 298px;
  background-color: indianred;
  border-radius: 16px;
  color: white;
}
.primaryLine {
  height: 80px;
  width: 100%;
  display: flex;
  gap: 12px;
  padding: 10px 15px;
  align-items: center;
  border-bottom: 2px dotted rgba(255, 192, 203, 0.2);
}
.globalsCard .myAvatar {
  height: 50px;
  width: 50px;
  border-radius: 14px;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
}
.description p {
  text-transform: capitalize;
}
.description span {
  font-size: 14px;
  color: rgb(211, 161, 180);
}
.secundyLine {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px 20px;
  border-bottom: 2px dotted rgba(255, 192, 203, 0.2);
  text-transform: capitalize;
}
.thirdLine {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px 20px;
  border-bottom: 2px dotted rgba(255, 192, 203, 0.2);
  text-transform: capitalize;
}
.quartLine {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-bottom: 2px dotted rgba(255, 192, 203, 0.2);
  text-transform: capitalize;
}
.quartLine span {
  display: flex;
  gap: 114px;
}
.quartLine .button {
  padding: 4px;
  justify-content: center;
  font-size: 14px;
  text-decoration: none;
  color: white;
  background-color: deeppink;
  border: none;
  border-radius: 6px;
}
.logOut {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  text-transform: capitalize;
}
/* footer {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

footer p {
  margin-top: 20px;
  /* padding: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: rgb(211, 161, 180);
}
